.cart {
    position: relative;
    border: 0.01rem solid $borders;

    &__title {
        @include absCenter;
        font-size: $fs-heading-default;
        width: 100%;
        height: 5rem;
        background: rgba(0, 0, 0, 0.294);
    }
}

//budget calculator cart
.budgetCalcCart {
    background-image: url(../../../dist/pages/budgetCalculator/images/budgetIcon_1@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    
}