.b {
    width: 1px;
    height: 1px;
}
.bb {
    width: 2px;
    height: 2px;
}
.b-b,
.b-t,
.b-l,
.b-r {
    position: absolute;
    background-color: $borders;
}
.b-dark {
    background: $bordersDark;
}
.b-b {
    bottom: 0.01rem;
    width: 100%;
}
.b-t {
    top: 0;
    width: 100%;
}
.b-r {
    right: 0;
    height: 100%;
}
.b-l {
    left: 0;
    height: 100%;
}
