.showMobile {
    display: flex;
    opacity: 1;
    visibility: visible;
}
.mobile-break {
    display: none;
    @include respond(phone) {
        display: block;
    }
}
.globalVisible {
    opacity: 1;
    visibility: visible;
}
.opacityTransition {
    transition: opacity 0.5s cubic-bezier(.4,0,.2,1);
}