.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(var(--vh, 1vh)*11.11111);
    min-height: 6rem;
    max-height: 12rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8.66fr 1fr;
    grid-template-areas: "A B C";
    transition: color 0.3s ease-in-out;
    @include respond(tab-port) {
        grid-template-columns: 2fr 6.66fr 2fr;
    }
    a:hover {
        .a-link {
            color: $textHover;
        }
    }
    .a-link {
        font-size: $fs-default;
        font-weight: 500;
        text-align: center;
        position: absolute;
        width: 100%;
        @include absCenter;
        
    }
    &__legal {
        position: relative;
        grid-area: A;
        display: flex;
        flex-flow: row wrap;
        align-items: center;    
    }
    &__center {
        position: relative;
        grid-area: B;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    &__social {
        position: relative;
        grid-area: C;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}