.budgetCalculator__input-text {
    .input-field {
        height: 2rem;
    }
}
.dropdown-content li > a, .dropdown-content li > span {

    font-size: 16px;
    color: $font-color;
    display: block;
    line-height: 22px;
    padding: 14px 16px;

}