.incomeHistory {
    
    &__title {
        position: relative;
        margin-bottom: 1rem;
        span {
            font-size: $fs-heading-default;
            padding-bottom:  0.5rem;
        }
    }
    .listItem {
        &__description {
            font-size: $fs-default;
        }
        &__rightPanel {

        }
        &__value {

        }
        &__value-income {

        }
        &__delete {

        }
        &__delete-button {

        }
    }
}
.expensesHistory {
    &__title {
        position: relative;
        margin-bottom: 1rem;
        
        span {
            font-size: $fs-heading-default;
            padding-bottom:  0.5rem;
        }
    }
}