.incomeHistory {
    
    &__title {
        position: relative;
        margin-bottom: 1rem;
        padding-bottom:  0.5rem;
        span {
            font-size: $fs-heading-default;
            
        }
    }
    .listItem {
        display: flex;
        justify-content: space-between;
        transition: all 0.3 ease-in-out;
        
        &__description {
            font-size: $fs-default;
        }
        &__rightPanel {
            position: relative;
            display: flex;
            font-size: $fs-default;
        }
        &__value {

        }
        &__value-income {

        }
        &__delete {
            position: absolute;
            right:0px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3 ease-in-out;
        }
        &__delete-button {

        }
    }
}
.expensesHistory {
    &__title {
        position: relative;
        margin-bottom: 1rem;
        padding-bottom:  0.5rem;
        span {
            font-size: $fs-heading-default;
            
        }
    }
}

.listItem:hover {
    
    .listItem__value {
        padding-right: 2rem;
    }
    .listItem__delete {
        visibility: visible;
        opacity: 1;
    }
} 