.budgetCalculatorDisplay {
    display: grid;
    position: relative;
    grid-template-columns: 2fr 8.66fr;
    grid-template-areas: "A B";
    min-height: $minContentHeight;
}
.transactionHistory {
    grid-area: A;
}
.budgetCalculator {
    grid-area: B;
}
