.incomeHistory {
    
    &__title {
        position: relative;
        margin-bottom: 1rem;
        padding-bottom:  0.5rem;
        span {
            font-size: $fs-heading-default;
            
        }
    }
    .listItem {
        display: flex;
        justify-content: space-between;
        &__description {
            font-size: $fs-default;
        }
        &__rightPanel {
            position: relative;
            display: flex;
        }
        &__value {

        }
        &__value-income {

        }
        &__delete {
            position: absolute;
            right:0px;
            overflow: hidden;
        }
        &__delete-button {

        }
    }
}
.expensesHistory {
    &__title {
        position: relative;
        margin-bottom: 1rem;
        padding-bottom:  0.5rem;
        span {
            font-size: $fs-heading-default;
            
        }
    }
}